@import './tools.sass'
@import './gameMap.sass'
@import './startGamePanel.sass'
*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	width: 100vw
	height: 100vh
	background-color: #42c2f4
#wrapper 
	width: 700px
	display: flex
	margin: auto
	//border: 1px solid blue
	position: relative
	top: 30px
	background-image: url("http://read.pudn.com/downloads106/sourcecode/others/435495/SuperTractor/res/BackGround__.jpg")
	


